fastapi
uvicorn
python-dotenv
python-multipart
pydantic[email]
google-genai
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
reportlab
groq
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
